Repository AlgoLeadMe/AlgoLeadMe-3, pull requests merged in 2023-11, with the labels that each got.

#1 1-9kyo-hwang
  9-kyo-hwang/README.md
  9-kyo-hwang/구현/1 - 행복은 성적순이 아니잖아요.cpp
Labels: 9-kyo-hwang, 리뷰 완료 ✔️

#3 1-xxubin04
  xxubin04/README.md
  xxubin04/구현/28278_stack2.py
Labels: xxubin04, 리뷰 완료 ✔️

#2 1-Dolchae
  Dolchae/README.md
  Dolchae/스택/1874 스택수열.py
Labels: Dolchae, 리뷰 완료 ✔️

#5 2-Dolchae
  Dolchae/README.md
  Dolchae/구현/28464 Potato.py
Labels: Dolchae, 리뷰 완료 ✔️

#6 2-xxubin04
  xxubin04/README.md
  xxubin04/구현/18310_antena.py
Labels: xxubin04, 리뷰 완료 ✔️

#4 2-9kyo-hwang
  9-kyo-hwang/README.md
  9-kyo-hwang/위상정렬/동굴 탐험.cpp
Labels: 9-kyo-hwang, 리뷰 완료 ✔️

#10 1-gjsk132
  gjsk132/README.md
  gjsk132/구현/스위치 켜고 끄기.py
Labels: gjsk132, 리뷰 완료 ✔️

#7 3-9kyo-hwang
  9-kyo-hwang/README.md
  9-kyo-hwang/위상 정렬/동굴 탐험.cpp
  9-kyo-hwang/최소 스패닝 트리/16398 행성 연결.cpp
Labels: 9-kyo-hwang, 리뷰 완료 ✔️

#9 3-xxubin04
  xxubin04/README.md
  xxubin04/스택/2841_alienStack.py
Labels: xxubin04, 리뷰 완료 ✔️

#8 3-Dolchae
  Dolchae/README.md
  Dolchae/구현/2594 놀이공원.py
  Dolchae/그리디/28464 Potato.py
Labels: Dolchae, 리뷰 완료 ✔️

#13 4-xxubin04
  xxubin04/README.md
  xxubin04/수학/1105_8.py
Labels: xxubin04, 리뷰 완료 ✔️

#14 2-gjsk132
  gjsk132/README.md
  gjsk132/그리디/잃어버린 괄호.txt
Labels: gjsk132, 리뷰 완료 ✔️

#11 4-9kyo-hwang
  9-kyo-hwang/README.md
  9-kyo-hwang/트라이/5052 전화번호 목록.cpp
Labels: 9-kyo-hwang, 리뷰 완료 ✔️

#12 4-Dolchae
  Dolchae/README.md
  Dolchae/그리디/1026 보물.py
Labels: Dolchae, 리뷰 완료 ✔️

#17 5-xxubin04
  xxubin04/README.md
  xxubin04/해시맵/1620_pokemon.py
Labels: xxubin04, 리뷰 완료 ✔️

#18 3-gjsk132
  gjsk132/README.md
  gjsk132/이진탐색/게임.py
Labels: gjsk132, 리뷰 완료 ✔️

#15 5-9kyo-hwang
  9-kyo-hwang/README.md
  9-kyo-hwang/플로이드-워셜/1613 역사.cpp
Labels: 9-kyo-hwang, 리뷰 완료 ✔️

#16 5-Dolchae
  Dolchae/README.md
  Dolchae/그리디/1475 방번호.py
Labels: Dolchae, 리뷰 완료 ✔️

#20 6-Dolchae
  Dolchae/README.md
  Dolchae/구현/1475 방번호.py
  Dolchae/구현/5800 성적 통계.py
Labels: Dolchae, 리뷰 완료 ✔️

#21 6-xxubin04
  xxubin04/README.md
  xxubin04/그리디/1049_guitarString.py
Labels: xxubin04, 리뷰 완료 ✔️

#22 4-gjsk132
  gjsk132/README.md
  gjsk132/그리디/잃어버린 괄호.py
  gjsk132/이분탐색/게임.py
  gjsk132/이분탐색/수 찾기.py
Labels: gjsk132, 리뷰 완료 ✔️

#19 6-9kyo-hwang
  9-kyo-hwang/README.md
  9-kyo-hwang/다익스트라/22865 가장 먼 곳.txt
Labels: 9-kyo-hwang, 리뷰 완료 ✔️

#25 5-gjsk132
  gjsk132/DFS/1012 유기농 배추.py
  gjsk132/README.md
  gjsk132/구현/1244 스위치 켜고 끄기.py
  gjsk132/그리디/1541 잃어버린 괄호.py
  gjsk132/이분탐색/1072 게임.py
  gjsk132/이분탐색/1920 수찾기.py
Labels: gjsk132, 리뷰 완료 ✔️

#24 7-9kyo-hwang
  9-kyo-hwang/README.md
  9-kyo-hwang/분리 집합/10775 공항.txt
Labels: 9-kyo-hwang, 리뷰 완료 ✔️

#26 7-Dolchae
  Dolchae/README.md
  Dolchae/구현/1193 분수찾기.py
Labels: Dolchae, 리뷰 완료 ✔️

#23 7-xxubin04
  xxubin04/README.md
  xxubin04/스택/17952_taskFinish.py
Labels: xxubin04, 리뷰 완료 ✔️

#29 8-Dolchae
  Dolchae/README.md
  Dolchae/큐/2164 카드2.py
Labels: Dolchae, 리뷰 완료 ✔️

#30 8-xxubin04
  xxubin04/README.md
  xxubin04/구현/2563_paper.py
Labels: xxubin04, 리뷰 완료 ✔️

#27 8-9kyo-hwang
  9-kyo-hwang/README.md
  9-kyo-hwang/백트래킹/16987 계란으로 계란치기.txt
Labels: 9-kyo-hwang, 리뷰 완료 ✔️

#28 6-gjsk132
  gjsk132/BFS/1012 유기농 배추.py
  gjsk132/BFS/7576 토마토.py
  gjsk132/README.md
Labels: gjsk132, 리뷰 완료 ✔️

#32 9-Dolchae
  Dolchae/README.md
  Dolchae/큐/1966 프린터 큐.py
Labels: Dolchae, 리뷰 완료 ✔️

#34 7-gjsk132
  gjsk132/README.md
  gjsk132/그리디/16953 A → B.py
Labels: gjsk132, 리뷰 완료 ✔️

#36 10-Dolchae
  Dolchae/README.md
  Dolchae/구현/7568 덩치.py
Labels: Dolchae, 리뷰 완료 ✔️

#38 8-gjsk132
  gjsk132/DP/1463 1로 만들기.py
  gjsk132/README.md
Labels: gjsk132, 리뷰 완료 ✔️
