Repository AlgoLeadMe/AlgoLeadMe-3, pull requests merged in 2024-03, with the labels that each got.

#118 23-gjsk132
  gjsk132/README.md
  gjsk132/Sort/좌표 압축.txt
Labels: gjsk132, 리뷰 완료 ✔️

#116 31-xxubin04
  xxubin04/README.md
  xxubin04/그리디/134_Gas Station.py
Labels: xxubin04, 리뷰 완료 ✔️

#117 31-Dolchae
  Dolchae/README.md
  Dolchae/구현/13414 수강신청.py
Labels: Dolchae, 리뷰 완료 ✔️

#115 30-9kyo-hwang
  9-kyo-hwang/Greedy/23296 엘리베이터 조작.cpp
  9-kyo-hwang/README.md
Labels: 9-kyo-hwang, 리뷰 완료 ✔️

#121 32-xxubin04
  xxubin04/README.md
  xxubin04/수학/172_Factorial Trailing Zeroes.py
Labels: xxubin04, 리뷰 완료 ✔️

#126 25-gjsk132
  gjsk132/Prefix Sum/21758 꿀 따기.py
  gjsk132/README.md
Labels: gjsk132, 리뷰 완료 ✔️

#124 33-Dolchae
  Dolchae/README.md
  Dolchae/정렬/1431 시리얼 번호.py
Labels: Dolchae, 리뷰 완료 ✔️

#120 31-9kyo-hwang
  9-kyo-hwang/Greedy/2023 KAKAO BLIND RECRUITMENT 미로 탈출 명령어.cpp
  9-kyo-hwang/Greedy/23296 엘리베이터 조작.cpp
  9-kyo-hwang/README.md
Labels: 9-kyo-hwang, 리뷰 완료 ✔️

#123 32-9kyo-hwang
  9-kyo-hwang/Greedy/23296 엘리베이터 조작.cpp
  9-kyo-hwang/README.md
  9-kyo-hwang/Shortest Path/2022 KAKAO TECH INTERNSHIP 코딩 테스트 공부.txt
Labels: 9-kyo-hwang, 리뷰 완료 ✔️

#122 24-gjsk132
  gjsk132/Greedy/15903 카드 합체 놀이.py
  gjsk132/README.md
Labels: gjsk132, 리뷰 완료 ✔️

#125 33-xxubin04
  xxubin04/README.md
  xxubin04/해시맵/11101_꿍의 여친 만들기.py
Labels: xxubin04, 리뷰 완료 ✔️

#130 26-gjsk132
  gjsk132/Greedy/야근 지수.py
  gjsk132/README.md
Labels: gjsk132, 리뷰 완료 ✔️

#128 34-xxubin04
  xxubin04/README.md
  xxubin04/그리디/27972_악보는 거들 뿐.py
Labels: xxubin04, 리뷰 완료 ✔️

#129 33-9kyo-hwang
  9-kyo-hwang/Graph Traversal/1520 내리막길.cpp
  9-kyo-hwang/README.md
Labels: 9-kyo-hwang, 리뷰 완료 ✔️

#134 27-gjsk132
  gjsk132/Greedy/1911 흙길 보수하기.py
  gjsk132/README.md
Labels: gjsk132, 리뷰 완료 ✔️

#131 35-xxubin04
  xxubin04/Heap/1715_카드정렬하기.py
  xxubin04/Heap/Programmers_더 맵게.py
  xxubin04/README.md
Labels: xxubin04, 리뷰 완료 ✔️

#132 35-Dolchae
  Dolchae/README.md
  Dolchae/브루트포스/1182 부분수열의 합.py
Labels: Dolchae, 리뷰 완료 ✔️

#136 36-Dolchae
  Dolchae/DFS&BFS/2606 바이러스.py
  Dolchae/README.md
Labels: Dolchae, 리뷰 완료 ✔️

#133 34-9kyo-hwang
  9-kyo-hwang/Dynamic Programming/1344 축구.cpp
  9-kyo-hwang/README.md
  9-kyo-hwang/Shortest Path/2022 KAKAO TECH INTERNSHIP 코딩 테스트 공부.cpp
Labels: 9-kyo-hwang, 리뷰 완료 ✔️

#135 36-xxubin04
  xxubin04/Heap/1715_카드 정렬하기.py
Labels: xxubin04, 리뷰 완료 ✔️

#139 28-gjsk132
  gjsk132/Backtracking/6443 애너그램.py
  gjsk132/README.md
Labels: gjsk132, 리뷰 완료 ✔️

#141 37-Dolchae
  Dolchae/README.md
  Dolchae/수학/11653 소인수분해.py
Labels: Dolchae, 리뷰 완료 ✔️

#140 37-xxubin04
  xxubin04/README.md
  xxubin04/정렬/프로그래머스 - 가장 큰 수.py
Labels: xxubin04, 리뷰 완료 ✔️

#137 35-9kyo-hwang
  9-kyo-hwang/README.md
  9-kyo-hwang/Shortest Path/1738 골목길.cpp
Labels: 9-kyo-hwang, 리뷰 완료 ✔️

#138 36-9kyo-hwang
  9-kyo-hwang/Brute Force/2023 현대모비스 알고리즘 경진대회 예선 상담원 인원.cpp
  9-kyo-hwang/README.md
Labels: 9-kyo-hwang, 리뷰 완료 ✔️

#144 29-gjsk132
  gjsk132/Divide And Conqouer/2630 색종이 만들기.py
  gjsk132/README.md
Labels: gjsk132, 리뷰 완료 ✔️

#143 38-xxubin04
  xxubin04/DP/11568_민균이의 계략.py
  xxubin04/README.md
Labels: xxubin04, 리뷰 완료 ✔️

#145 38-Dolchae
  Dolchae/README.md
  Dolchae/힙/1927 최소 힙.py
Labels: Dolchae, 리뷰 완료 ✔️
